<table class='table table-bordered table-hover'>
	<tbody class='table-striped'>
		<tr *ngFor='let project of projects' (click)='onClick(project)'>
			<td class='col-md-1 proj'> {{project.title}} </td>
		</tr>
	</tbody>
</table>
<!-- <section *ngIf="activeProject" class="jumbotron">
	<p *ngIf="activeProject.image"> Click the image to visit {{activeProject.title}} </p>
	<a [href]="activeProject.url"> <img *ngIf="activeProject.image" [src]="activeProject.image" alt="img" width="400px" /></a>
	<p>{{activeProject.description}}</p>
	<span>
		<a class="btn btn-primary btn-lg" [href]="activeProject.code"> Code Repository</a>
	</span>
	<dl class='tool'>
		<dt>tools</dt>
		<dd class="btn btn-info" *ngFor="let tool of activeProject.tools"> {{tool}} </dd>
	</dl>
</section> -->
<!-- <details [project]="activeProject"></details> -->
