<h2>
	Projects
</h2>
<table class='table table-bordered table-hover'>
	<thead>
		<tr>
			<td class='col-sm-1'> image </td>
			<td class='col-sm-1'> title </td>
			<td class='col-sm-2'> description </td>
		</tr>
	</thead>
	<tbody class='table-striped'>
		<tr *ngFor='let project of projects' (click)='onClick(project)'>
			<td class='col-sm-1'> <img [src]="project.image" alt="img" width="200px" /> </td>
			<td class='col-sm-1'> {{project.title}}> </td>
			<td class='col-sm-2'> {{project.description}} </td>
		</tr>
	</tbody>
</table>
<p> active project: {{activeProject.title}}</p>
<!-- <project></project> -->