<h2>
	Projects
</h2>
<table class='table table-bordered table-hover'>
	<thead>
		<tr>
			<td class='col-sm-1'> image </td>
			<td class='col-sm-1'> title </td>
			<td class='col-sm-2'> description </td>
		</tr>
	</thead>
	<tbody class='table-striped'>
		<tr *ngFor='let project of projects' (click)='onClick(project)'>
			<td class='col-sm-1'> <img [src]="project.image" alt="img" width="200px" /> </td>
			<td class='col-sm-1'> <a class="btn btn-primary btn-lg" [href]="project.url">{{project.title}} </a></td>
			<td class='col-sm-2'> {{project.description}} <a class="btn btn-info btn-sm" [href]="project.code"> Code </a> <hr>
			Tools: <span *ngFor='let tool of project.tools'> {{tool}} </span>
			</td>
		</tr>
	</tbody>
</table>
<p> active project: {{activeProject.title}}</p>
<!-- <project></project> -->